# Simple workflow for deploying static content to GitHub Pages
name: Deploy to Pages

on:
  # Runs on pushes targeting main or beta
  push:
    branches:
      - main
  release:
    types: [published]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: npm install
      - run: npm list
      - run: npm list --all
      - run: npm run build
      - run: npm run typecheck
      - run: npm run lint
      - run: |
          mkdir ./dist/main
          mv ./package-lock.json ./dist/flr.js ./dist/flr.js.map ./dist/main/
      - uses: actions/upload-artifact@v5
        with:
          name: artifact
          path: ./dist

  deploy:
    needs: [build]
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: artifact
          path: dist

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './dist'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      - name: Attach wheels to GitHub release
        if: github.event_name == 'release'
        uses: AButler/upload-release-assets@v3.0
        with:
          files: 'dist/main/package-lock.json;dist/main/flr.js;dist/main/flr.js.map'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
